html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
}

body > * {
  margin: auto;
}

svg {
  width: 300px;
  height: 300px;
  text-align:center;
}

svg > g {
  transform: translate(150px, 150px);
}

circle {
  stroke: white;
  stroke-width: 2px;
}

#numbers {
  transform: translate(0, 6px);
}

#numbers > text {
  fill: white;
  text-anchor: middle;
}

#ticks > line {
  stroke: white;
}

#hands {
  stroke: white;
  stroke-width: 4px;
  transform: rotate(-90deg);
}

#second > line {
  stroke: red;
  stroke-width: 2px;
}

@keyframes handrotation {
  to {
    transform: rotate(1turn);
  }
}

